.body__title {
  font-family: Arial;
}
.header__menu_item {
  font-family: Helvetica;
}
.section__title {
  font-family: Helvetica;
}
.section__description {
  font-family: Arial;
}
.section__article {
  font-family: Arial;
}
